fastapi
uvicorn
python-multipart
pydantic
aiofiles
torch
torchaudio
librosa
soundfile
onnxruntime
python-dotenv
transformers
accelerate
websockets
faster-whisper
opencc-python-reimplemented